# Ignore node_modules and build files
node_modules/
frontend/node_modules/
server/node_modules/
frontend/dist/
server/uploads/

# Ignore environment variables
server/.env

# Ignore system files
.DS_Store
Thumbs.db
